@charset "UTF-8";

@media screen and (max-width:55em) {
p {
  font-size: 20px;
  /* line-height: 28px; */
  margin: 0 0 18px;
}
p span {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  margin-bottom: 24px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
}
p span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  margin: auto;
  background-color: #98B296;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
}
p span:after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -6px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent white transparent;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  margin-bottom: 18px;
}}
/* @media (min-width: 55em) {
  h1 {
    font-size: 60px;
    line-height: 64px;
  }
} */

@media screen and (max-width:55em) {
h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 5vh;
}}
/* @media (min-width: 55em){
  .menu-toggle{
    display: none;
  }
  #navbar{
    display: none;
  }
} */

@media screen and (max-width:55em) {
.menu-toggle {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  bottom: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
}
.menu-toggle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, #fff, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}
.menu-toggle:after {
  opacity: 0;
  content: '×';
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}

.menu-toggle:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.menu-toggle:hover {
  opacity: 1;
}
.open .menu-toggle {
  opacity: 1;
}
.open .menu-toggle:before {
  opacity: 0;
  width: 0;
}
.open .menu-toggle:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
  transform: translate3d(0, 0, 0) rotate(360deg);
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}

.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
  animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  color: white;
}
ul.menu li {
  font-family: tosca;
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 36px, 0);
  transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  font-family: tosca;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #000000;
  overflow: hidden;
  -webkit-transform: translate(-24px, 6px);
  transform: translate(-24px, 6px);
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  -webkit-transform: translate(0px, 6px);
  transform: translate(0px, 6px);
  transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
  transition-delay: 1.05s;
}
.open ul.menu li:nth-child(5) {
  transition-delay: 1.15s;
}

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out;
}
.open article {
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
  transition: -webkit-transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out, -webkit-transform 0.2s 0.41s ease-out;
}}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@media screen and (max-width:55em) {
.forabout,
.forlback,
.forcolamb,
.forsponsers {
  width: 100%;
  height: 73vh;
  min-height: 500px;
  position: absolute;
  left: -100%;
  top: 10vh;
  transition: .2s linear;
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  overflow-z: hidden;
  overflow-y: scroll;
}

.forabout::-webkit-scrollbar {
  display: none;
}
.forlback::-webkit-scrollbar {
  display: none;
}

.forcolamb::-webkit-scrollbar {
  display: none;
}

.forabout>h1, .forlback>h1 {
  width: 100%;
  font-size: 40px;
  margin: 0;
}

.forabout>div>p,.forlback>div>p {
  font-size: 22px;
  font-family: 'tosca', sans-serif;
}

.forabout>p,
.forlback>p,
.forcolamb>p {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'tosca', sans-serif;
}

.forabout>img,
.forlback>img,
.forcolamb>img,
.forsponsers>img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 20px;
}
.forsponsers::-webkit-scrollbar {
  display: none;
}

.forsponsers>p {
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-family: 'tosca', sans-serif;
}

.sponserslist {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  justify-content: space-around;
  width: 100%;
  min-height: 500px;
}

.sponserslist>div {
  width: 100px;
  padding: 0 20px;
}

.sponserslist>div>img {
  width: 100px;
  height: 100px;
}

.sponserslist>div>p {
  color: white;
  direction: rtl;
  text-align: center;
  font-family: 'tosca', sans-serif;
}

.forcontact {
  width: 100%;
  height: 73vh;
  direction: rtl;
  min-height: 500px;
  position: absolute;
  top: 10vh;
  display: flex;
  /* z-index: 3; */
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  left: -100%;
  transition: .4s;
  color: white;
  overflow-z: hidden;
  overflow-y: scroll;
}

.forcontact>h1 {
  width: 100%;
  font-size: 40px;
  margin: 0;
  /* padding-top: 10%; */
  padding-bottom: 5px;
}

.forcontact>div>p {
  font-size: 17px;
  font-family: 'tosca', sans-serif;
}

.forcontact>div>img {
  float: right;
  cursor: pointer;
  position: relative;
  top: 20px;
}

.forsponserus {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  direction: rtl;
  position: absolute;
  left: -100%;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  z-index: 6;
  transition: .2s;
  background-color: rgba(0, 0, 0, .9);
  color: white;
  overflow-z: hidden;
  overflow-y: scroll;
}

.forsponserus::-webkit-scrollbar {
  display: none;
}

.forsponserus>h1 {
  font-size: 40px;
  width: 100%;
}

.forsponserus>p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family: 'tosca', sans-serif;
}

.forsponserus>img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 20px;
}

.forsponserus>div>.menu-toggle {
  text-align: center;
  position: relative;
  left: -43%;
  background-color: transparent;
  height: 30px;
  cursor: pointer;
  border: red 1px solid;
  outline: 0;
  color: white;
  font-size: 16px;
}

.forsponserus>div>.menu-toggle:hover {
  background-color: red;
}}

@media screen and (max-width:55em) {
  .forsponserus>div>.menu-toggle {
    left: -35%;
  }
}

@media screen and (max-width:55em) {
.forcontact::-webkit-scrollbar {
  display: none;
}

.forcontact>div {
  width: 40%;
}

.forcontact>div:first-child {
  width: 100%;
}

.forcontact>div>img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 20px;
  right: 20px;
}

.forcontact>div>h1 {
  font-size: 25px;
}

.phone>div,
.add>div {
  padding: 20px;
}}

@media screen and (max-width:55em) {
  .forcontact>div {
    width: 80%;
    padding-top: 20px;
  }

  .phone {
    flex-wrap: wrap;
  }

  .add {
    flex-wrap: wrap;
  }

  .phone>div {
    width: 100%;
    flex-wrap: wrap;
  }

  .add>div {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:55em) {
.forevents {
  position: absolute;
  left: -100%;
  transition: .2s;
  direction: rtl;
  width: 100%;
  height: 73vh;
  top: 10vh;
  min-height: 500px;
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  justify-content: space-evenly;
}

.forevents::-webkit-scrollbar {
  display: none;
}

.forevents>div {
  width: 260px;
  padding: 20px;
}

.forevents>h1 {
  margin: 0;
  width: 100%;
  font-size: 40px;
  padding-bottom: 5%;
}

.eventone>div {
  width: 200px;
  height: 200px;
  background-image: url("../image/pronite1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.eventtwo>div {
  width: 200px;
  height: 200px;
  background-image: url("../image/raddrock1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.eventthree>div {
  width: 200px;
  height: 200px;
  background-image: url("../image/razzmatazz1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.eventfour>div {
  width: 200px;
  height: 200px;
  background-image: url("../image/vogue1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.point {
  pointer-events: none;
}}
/* 
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 10px 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .05em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  } */
/* 
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }
  a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  }
  a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
  }
  a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
  }
  a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }

  a.animated-button.victoria-one:after {
    background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
    Sandy Buttons

    a.animated-button.sandy-one {
    border: 2px solid #AEA8D3;
    color: #FFF;
    }
    a.animated-button.sandy-one:after {
    border: 3px solid #AEA8D3;
    opacity: 0;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    }
    a.animated-button.sandy-one:hover:after {
    height: 120% !important;
    opacity: 1;
    color: #FFF;
    } 
